<launch>
    
    <param name="use_sim_time" value="true" />

    
    <node pkg="tf" type="static_transform_publisher" name="lidar_0_broadcaster" args="0.15 0 0.13 0 0 0 base lidar_0 0.1" />
    <node pkg="tf" type="static_transform_publisher" name="rslidar_broadcaster" args="0.15 0 0.13 0 0.309017 0 base rslidar 0.1" />

    <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0.16 0 0.06 0 0 0 base camera_link 0.1" />
    <node pkg="python_executables" type="Unitree_tranformer.py" name="Unitree_tranformer" output="screen" />
    <node pkg="python_executables" type="imu_filter.py" name="imu_filter" output="screen" />
    <node pkg="python_executables" type="aldra.py" name="aldra" output="screen" />
    <node pkg="python_executables" type="navtogps.py" name="navtogps" output="screen" />
    
    
    
    
    <rosparam command="load" file="$(find ig_lio)/config/Bpearl.yaml" />

    <node pkg="ig_lio" type="ig_lio_node" name="ig_lio_node" output="screen" />
    <!-- Add imu_filter_madgwick node -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen">
        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="false"/>
        <param name="world_frame" value="enu"/>
        <param name="base_link_frame" value="base"/>
        <remap from="imu/data_raw" to="/filtered_imu_data"/>
        <remap from="imu/data" to="/madgwick_filtered_imu"/>
    </node>

    <!-- Add imu_complementary_filter node -->
    <node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu_complementary_filter" output="screen">
        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="false"/>
        <param name="world_frame" value="enu"/>
        <param name="base_link_frame" value="base"/>
        <remap from="imu/data_raw" to="/madgwick_filtered_imu"/>
        <remap from="imu/data" to="/filtered_imu"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ig_lio)/rviz/lio_show.rviz" required="true" />
    
    
</launch>
